*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh;
    background: url(../images/pexels-pixabay-531880.jpg) no-repeat center center/cover;
}
h1{
    text-align: center;
    font-size: 3rem;
    color: darkred;
}

.calculator-container{
    background-color: white;
    max-width: 350px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 40px 17px rgba(153, 153, 153, 1);
    border-radius: 10px;
}

#display{
    text-align: right;
    min-height: 70px;
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.buttons{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.button{
    border: 0.5px solid #999;
    border-radius: 10px;
    line-height: 70px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
}

#operator{
    background-color: maroon;
    color: white;
    font-size: 2rem;
}

.button:hover{
    background-color: #999;
    transition: .4s;
}

#operator:hover{
    background-color: #999;
    transition: .4s;
}

#equals{
    background-color: green;
}


#para{
    margin: 30px 0px;
    text-align: center;
    font-size: 20px;
    color: white;
}

a{
    text-decoration: none;
    color: goldenrod;
}

a:hover{
    color: white;
}

footer{
    bottom: 0;
    width:100%;
    background-color: #999;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: white;
 }
